* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page-action-cont {
  background-color: green;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 0.5rem;
}

.cell-prop-cont {
  background-color: #ecf0f1;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.address-action-container {
  background-color: #ecf0f1;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.grid-container {
  background-color: white;
  height: calc(100vh - 3rem - 3rem - 3rem - 2rem);
  position: relative;
  overflow: scroll;
}

.sheet-action-cont {
  background-color: #ecf0f1;
  height: 3rem;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1rem;
}

.page-action {
  color: white;
  margin: 1rem;
}

.cell-prop-cont > * {
  display: inline-block;
  margin-right: 1rem;
}

.cell-prop-cont > select {
  outline: none;
  border: 3px;
}

.font-family-prop,
.font-size-prop {
  padding: 0.3rem;
}

.sheet-action-cont > * {
  display: inline-block;
}

.sheet-add-icon {
  width: 2rem;
}

.sheet-folder-cont {
  /* background-color: pink; */
  height: 75%;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
}

.sheet-folder {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 2px;
}

.address-action-container > input {
  outline: none;
  border: none;
}

.address-action-container > * {
  margin-right: 1rem;
}

.formula-icon {
  width: 1.3rem;
}

.address-bar {
  width: 6rem;
}

.formula-bar {
  width: calc(100% - 6rem - 1rem - 1rem - 1rem);
}

.dummy-box {
  background-color: grey;
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 2;
}

.address-row-cont {
  display: flex;
  position: sticky;
  top: 0;
  left: 2rem; /*->due to dummy box */
  background-color: #ecf0f1;
}

.address-col-cont {
  background-color: #ecf0f1;
  width: 2rem;
  position: sticky;
  top: 2rem;
  left: 0;
  z-index: 1;
}

.col-address {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe4ea;
}
.row-address {
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe4ea;
  outline: none;
}

.cell-cont {
  position: absolute;
  top: 0;
  left: 2rem;
}
.cell-row {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-prop {
  position: relative;
}

.color-prop > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
